﻿@model WebApplication4.Models.iletisim

@{
    ViewBag.Title = "+Vip";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}


<header class="intro-header" style="background-image: url('@Url.Content("~/Content/mytemplate/")img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>BİLGE KAAN İLE FİT</h1>
                    <hr class="small">
                    <span class="subheading">+Vip</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-7 col-md-offset-1">
            <div class="contact-page-content">

                <div class="contact-form clearfix">
                


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>iletisim</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                       

                        <div class="form-group">
                            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.mesaj, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.mesaj, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.mesaj, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>

                    
                 @*  @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            <p class="full-row">
                                <span class="contact-label">
                                    <label for="name-id">Adınız Soyadınız</label>
                                </span>
                                <input type="text" name="isim"  size="20">
                            </p>
                            <p class="full-row">
                                <span class="contact-label">
                                    <label for="email-id">Telefon Numaranız</label>
                                </span>
                                <input type="text" name="isim"  size="20">
                            </p>
                            <p class="full-row">
                                <span class="contact-label">
                                    <label for="email-id">E-Posta Adresiniz</label>
                                </span>
                               <input type="text" name="isim"  size="20">
                            </p>
                            <p class="full-row">
                                <span class="contact-label">
                                    <label for="message">Mesajınız</label>
                                </span>
                                <textarea rows="10" cols="60"> </textarea>
                             </p>
                            <p class="full-row">

                                <input class="mainBtn" type="submit" name="" value="Gönder">
                                <label>@ViewBag.Mesaj</label>
                            </p>
                        }
                *@ 
                </div>
            </div>
        </div>
    </div>
</div>
<script>
   

    window.onload = loadScript;
</script>