﻿@model IEnumerable<WebApplication4.Models.egzersiz>
@{
    ViewBag.Title = "Egzersiz";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

@foreach (var item in Model)
{
    if(item.id==1)
    { 
<header class="intro-header" style="background-image: url('@item.foto')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                        
                  
                    <h1>@Html.DisplayFor(modelItem => item.egzersiz1)</h1>

                    <hr class="small">
                    <span class="subheading">@Html.DisplayFor(modelItem => item.baslik)</span>
                </div>
            </div>
        </div>
    </div>
</header>
    }
}

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-7 col-md-offset-1">

            <div style="text-align:center">
              @foreach (var item in Model)
              {
                  if (item.id == 2)
                  {
                  <h1>
                    <b>
                       @Html.DisplayFor(modelItem => item.egzersiz1)
                    </b>
                </h1>
                <h3>
                    @Html.DisplayFor(modelItem => item.baslik)
                </h3>
                  }
              }

                @foreach (var item in Model)
                {
                    if (item.id == 3)
                    {
                <div class="tur wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
                    <img src="@item.foto" alt="" />
                    <h3>
                        @Html.DisplayFor(modelItem => item.baslik)
                    </h3>
                </div>
                    }
                }
               @foreach (var item in Model)
               {
                   if (item.id == 5)
                   {
                    <div class="tur wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                   
                        <img src="@item.foto" alt="" />
                        <h3>
                            @Html.DisplayFor(modelItem => item.baslik)
                        </h3>
                    </div>
                   }
               }
              @foreach (var item in Model)
              {
                  if (item.id == 6)
                  {
                    <div class="tur wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
                    
                        <img src="@item.foto" alt="" />
                        <h3>
                            @Html.DisplayFor(modelItem => item.baslik)
                        </h3>
                    </div>
                  }
              }
                </div>


            <hr>
            <div style="text-align:center">
                <table>
                    <tr>
@foreach (var item in Model)
{
    if (item.id == 7)
    {
                        <td><img src="@item.foto" alt="" /></td>

                        <td>
                            <h3 class="post-title">
                                @Html.DisplayFor(modelItem => item.baslik)<br />
                                <b>
                                    @Html.DisplayFor(modelItem => item.egzersiz1)  </b>
                            </h3>

                        </td>
    }
}
                    </tr>
                </table>
                <div style="text-align:center">
                 @foreach (var item in Model)
                 {
                     if (item.id == 10)
                     {
                    <h3>
                        <b>@Html.DisplayFor(modelItem => item.egzersiz1) </b>
                    </h3>

                     }
                 }

                </div>


       
            <hr>
            <div style="text-align:center">
                <table>
                    <tr>
                        @foreach (var item in Model)
                        {
                            if (item.id ==8)
                            {

                                <td>
                                    <h3 class="post-title">
                                        @Html.DisplayFor(modelItem => item.baslik)<br />
                                        <b>
                                            @Html.DisplayFor(modelItem => item.egzersiz1)
                                        </b>
                                    </h3>
                                    
                               
                                </td>

                                <td><img src="@item.foto" alt="" /></td>
                            }
                        }
                    </tr>
                </table>
            </div>
          
            <hr>
                <table>
                    <tr>
                        @foreach (var item in Model)
                        {
                            if (item.id ==9)
                            {
                                <td><img src="@item.foto" alt="" /></td>

                                <td>
                                    <h3 class="post-title">
                                        @Html.DisplayFor(modelItem => item.baslik)<br />
                                        <b>
                                            @Html.DisplayFor(modelItem => item.egzersiz1)
                                        </b>
                                    </h3>

                                </td>
                            }
                        }
                    </tr>
                </table>


        </div>
    </div>
</div>
    </div>

<hr>
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; BİLGE ve KAAN 2016</p>
            </div>
        </div>
    </div>
</footer>
