﻿@model IEnumerable<WebApplication4.Models.anasayfa>

@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
@foreach (var item in Model)
{
    if(item.id==5)
    { 
<header class="intro-header" style="background-image: url('@item.foto')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                        
                  
                    <h1>@Html.DisplayFor(modelItem => item.anasayfa1)</h1>

                    <hr class="small">
                    <span class="subheading">@Html.DisplayFor(modelItem => item.baslik)</span>
                </div>
            </div>
        </div>
    </div>
</header>
    }
}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-5 col-md-offset-1">
                       
                            
                            @foreach (var item in Model)
                            {
                                if (item.id == 1)
                                {
                                     <h3 class="post-title">@Html.DisplayFor(modelItem => item.baslik)</h3><br />
                                    <h3  class="post-title"> @Html.DisplayFor(modelItem => item.anasayfa1)</h3>
                                }
                            }


                    <hr>
    

                            <table>
    
                                <tr>
                                    
                                            @foreach (var item in Model)
                                            {
                                                if (item.id == 2)
                                                {
                                                        <td>
                                                    <img src="@item.foto" alt="" />
                                                         </td>
                                                     <td>
                                                          <h3 class="post-title">@Html.DisplayFor(modelItem => item.baslik)</h3><br />
                                                    <h3 class="post-title"> @Html.DisplayFor(modelItem => item.anasayfa1)</h3>
                                                      </td>
                                                }
                                            }
                                
                            </tr>
                        </table>
                
                <hr>
           
                        <table>
                            <tr>
                                                       @foreach (var item in Model)
                                                       {
                                                          if (item.id == 3)
                                                          {

                                                        <td>
                                                            <h3 class="post-title">@Html.DisplayFor(modelItem => item.baslik)</h3><br />
                                                            <h3 class="post-title"> @Html.DisplayFor(modelItem => item.anasayfa1)</h3>
                                                        </td>
                                                        <td>
                                                            <img src="@item.foto" alt="" />
                                                        </td>
                                                           }
                                                       }

                            </tr>
                        </table>
                <hr>
                        <table>
                            <tr>
                                                      @foreach (var item in Model)
                                                      {
                                                          if (item.id == 4)
                                                          {
                                                        <td>
                                                              <img src="@item.foto" alt="" />
                                                        </td>
                                                        <td>
                                                            <h3 class="post-title">@Html.DisplayFor(modelItem => item.baslik)</h3><br />
                                                            <h3 class="post-title"> @Html.DisplayFor(modelItem => item.anasayfa1)</h3>
                                                        </td>
                                                          }
                                                      }

                            </tr>
                        </table>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; BİLGE ve KAAN 2016</p>
                </div>
            </div>
        </div>
    </footer>
